{% extends "page.twig" %}

{% block title %}Appenders{% endblock %}

{% block content %}
<p>Index goes here.</p>

<p>There is one test page: <a href="appenders.html">Appenders</a></p>
{% endblock %}
